img {
    height: 100px;
    width: 200px;
    position: relative
}

button {
    width: 200px;
    height: 100px;
    margin-left: 10px;

}

hr {
    height: 550px;
    position: fixed;
    margin-right: 20px;
    top: 0px;
    border: 1px solid red;
}
