*{
    margin: 0;
    padding: 0;
}
.Header{
    display:flex;
    justify-content: space-between;
    background-color:#fff;
}
.headerleft{
    width:20%;
    height:100vh;
    background-color:#bd5d38;
}
 img{
    width:55%;
    margin: 100px 40px 20px 50px;
    cursor: pointer;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;    
    box-sizing: border-box; 
    
}

ul {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 7px 10px 7px;
    list-style: none;
	line-height: 50px;
   text-align: center;
   flex-direction: column;
  
}

ul li a{
    text-decoration: none;
	color: white;
    transition: .5s;
}

 ul li a:hover{
	color: gray;
}






.headerRight{
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
h1{
width:762px;
    height: 73px;
}